<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Meta --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Styles --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    {{!-- Scripts --}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <title>Productos</title>
</head>

<body>
  <main class="container-fluid">
  <section class="container">
    {{{body}}}
  </section>
  </main>
 
<ul>
  
</ul>



















<script type="text/javascript">const mytable = '<table><tr><th>Nombre</th><th>Precio</th><th>Imagen</th></tr><br><tr> <td> <ul style="color: #fff"></ul></td></tr></table>'</script>  
</body>
</html>